.App {
height:100vh ;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden; 
}


.flex {
  margin-left: 250px;
  color: black;
  display: flex;
  justify-content: center;
  
}
.Man {
  width: 200px;
  height: 198px;
}
.title {
  border: 2px solid yellowgreen;
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  background-color: black;
}
.title h1{
  text-align: center;
}
.description {
  border: 2px solid rgb(235, 15, 216);
  padding: 5px 10px;
  margin-top: 10px;
  color: blanchedalmond;
  background-color: black;
}
.description p{
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
